
.blog {

}

.breadcrumbs {
    height: 40px;
    display: block;
    padding-top: 120px;
}

.breadcrumbs::before {
    content: "";
    position: absolute;
    background-image: url("/web/images/home.svg");
    height: 16px;
    width: 16px;
}

.breadcrumbs__list {
    display: flex;
    margin-left: 20px;
}

.breadcrumbs__item {
    color: #727272;
    padding-right: 40px;
    position: relative;
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__item::after {
    content: "";
    position: absolute;
    background-image: url("/web/images/arrows.svg");
    height: 16px;
    width: 16px;
    right: 13px;
    top: 1px;
}

.breadcrumbs__item:last-child {
    color: #002b53;
}

.breadcrumbs__link {
    color: inherit;
}

.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    margin-bottom: 100px!important;
}

.blog-item {
    /*box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);*/
    /*border-radius: 10px;*/
    /*background-color: #fff;*/
}

.blog-card {
    padding: 10px;
}

.blog-card__box {
    display: flex;
    justify-content: space-between;
    color: lightgray;
    margin-top: 14px;
    /*margin-bottom: 20px;*/
}

.blog-card__title {
    margin-bottom: 5px;
    color:#666666;
    font-size: 16px;
}

.blog-card__meta {
    display: flex;
    justify-content: space-between;
}

.blog-card__views > span {
    font-size: 12px;
}

.blog-image-container {
    overflow: hidden;
}

.blog-image-container img {
    width: 100%;
    transition: transform 0.3s;
}

.blog-image__img {
    width: 376px;
    /*height: 250px;*/
}

.blog-image-container:hover img {
    transform: scale(1.2);
}

.blog-card__link {
    font-size: 13px;
}

.article-title {
    max-width: 950px;
    width: 65%;
    margin: 0 auto;
    line-height: 30px;
    font-size: 18px;
    color: #666666;
}

.tags-wrapper {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #002b53;
}

.tags-item {
    padding: 10px;
}

@media (max-width: 768px) {
    .blog-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 15px;
    }

    .article-title {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .blog-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .article-title {
        width: 100%;
    }
}
